<link rel="stylesheet" href="~/css/loginregister.css" />
@{
    ViewData["Title"] = "Home Page";
}
<div class="hero" style="background-image:url(../lib/images/test.jpg)">
    <div class="container">
        <div class="form-box">
            <div class="row justify-content-center">
                <div class="col-2">
                    <div class="button-box">
                        <button type="button" class="toggle-btn">Login</button>
                        <button type="button" class="toggle-btn">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>