@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-1">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#FirstCollapse" aria-expanded="false" aria-controls="FirstCollapse">
                All
            </button>
        </div>
        <div class="col-1">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#SecondCollapse">
                Meats
            </button>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-1">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ThirdCollapse">
                Vegetables
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="collapse" id="FirstCollapse">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                    3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                </div>
            </div>
        </div>
    </div>
</div>
