 <!--<link rel="stylesheet" href="~/css/loginregister.css" />
@{
    ViewData["Title"] = "Home Page";
}
<div class="hero" style="background-image:url(../lib/images/test.jpg)">
    <div class="container">
        <div class="form-box">
            <div class="row justify-content-center">
                <div class="col-2"><br />
                    <div class="button-box">
                        <div id="btn"></div>
                        <button type="button" class="toggle-btn" data-target="Login">Login</button>
                        <button type="button" class="toggle-btn" data-target="Register">Register</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <form class="input-group" asp-action="Privacy">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="text" class="input-field" placeholder="Username" />
                        <input type="text" class="input-field" placeholder="Password" />
                        <button type="submit" class="submit-btn">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
     -->