@*
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/_ViewImports.cshtml";
}
*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/cart.css" />
<h1>ตะกร้าสินค้า</h1>
<div class="cardcart">
    <div style="overflow-x:auto;">
        <table class="deletetable ordertable">
            <tr class="topic">
                <th class="intable1 orderth">ลำดับ</th>
                <th class="intable1 orderth" style="width:30%;">รายการ</th>
                <th class="intable1 orderth">ราคา</th>
                <th class="intable1 orderth">จำนวน</th>
                <th class="intable1 orderth"></th>
            </tr>
            <tr class="topic">
                <td class="intable1 orderth">1</td>
                <td class="intable1 orderth">Smith</td>
                <td class="intable1 orderth">50</td>
                <td class="intable1 orderth"><input class="numproduct" type="number"name="amount" value="product" min="1"/></td>
                <td class="intable1 orderth"><a class="cancel font" href="#delete"><i class="fa fa-trash-o"></i></a></td>
            </tr>
            <tr class="topic">
                <td class="intable1 orderth">2</td>
                <td class="intable1 orderth">Jackson</td>
                <td class="intable1 orderth">94</td>
                <td class="intable1 orderth"><input class="numproduct" type="number" name="amount" value="product" min="1" /></td>
                <td class="intable1 orderth"><a class="cancel font" href="#delete"><i class="fa fa-trash-o"></i></a></td>
            </tr>
            <tr class="topic">
                <td class="intable1 orderth">3</td>
                <td class="intable1 orderth">Johnson</td>
                <td class="intable1 orderth">67</td>
                <td class="intable1 orderth"><input class="numproduct" type="number" name="amount" value="product" min="1" /></td>
                <td class="intable1 orderth"><a class="cancel font" href="#delete"><i class="fa fa-trash-o"></i></a></td>
        </table>
    </div>
</div>