<link rel="stylesheet" href="~/css/profileuser.css" />
@{
    ViewData["Title"] = "Personal";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-3">
            <img class="imagepersonal" src="~/lib/images/test.jpg" /><br />

        </div>
    </div>
</div>

