body {
}
.topnav-right{
    float:right;
}
* {
    box-sizing: border-box
}

/* Style the tab */
.tab {
    float: left;
    margin-left:-300px;
    width: 20%;
    height: 100%;
}
.taplinks{
    text-decoration:none;
    color:black;
}
.taplinks a {
    font-size:16px;
}
.taplinks a :hover{
    color:red;
    font-size:20px;
    text-decoration:none;
}

/* Style the tab content */
.tabcontent {
    float: right;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 100%;
    border-left: none;
    height: 100%;
    overflow:hidden;
    
}

a.nav-link1 {
    display: block;
    padding: .5rem 1rem;
    color: #435E39;
    cursor:pointer;
}

a.nav-link1:hover {
    color: white;
    text-decoration:none;
}

