.font{
    font-family:Kanit;
    padding-top:50px;
}
.font2{
    font-family: Kanit;
    
}
.card1 {
    width: 100%;
    border: 1px solid transparent;
    border-radius:15px;
    background-color: #EFD89A;
}

.card2 {
    width: 80%;
    margin-left:10%;
}
.img1{
    padding-top:10px;
    padding-left:150px;
    padding-right:10px;
    padding-bottom:10px;
}
@media screen and (max-width: 1199px) {
    .img1 {
        padding-left: 130px;
    }
    .img2 {
        padding-left: 20px;
    }

}

.img2{
    padding-top: 10px;
    padding-right: 100px;
    padding-left:150px;
    padding-bottom: 10px;
}
.con {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #00E241;
    color: #000000;
    width: 12%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 33%;
    margin-top: 2%;
}
a.cancel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #F8523B;
    color: #000000;
    width: 20%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    margin-left: 2%;
}
.con:hover {
    background-color: #79FA6E;
    
}
a.cancel:hover {
    background-color: #F57A64;
}
.boxnum1 {
    margin-left:.5%;
    width: 5%;
    text-align: center;
    font-family: Kanit;
    border-radius:5px;
}
.boxnum{
    text-align:center;
    font-family:Kanit;
    border-radius:5px;
    margin-top:.5%;
}
.select{
    margin-left:9.5%;
    padding-top:.5%;
    padding-bottom:.5%;
    border-radius:5px;
    font-family:Kanit;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }