/* Banner1 */
p.get {
    max-width:100%;
    position: absolute;
    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    font-size: 4.5vw;
    line-height: 135%;
    color: #4C251B;
    margin-top: 10%;
    margin-left:6%
}

p.perc {
    position: absolute;
    max-width: 100%;
    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    font-size: 4.5vw;
    line-height: 135%;
    color: #E27902;
    margin-top: 10%;
    margin-left: 15%
}

p.natural {
    max-width: 100%;
    position: absolute;
    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    font-size: 4.5vw;
    line-height: 135%;
    color: #4C251B;
    margin-top: 10%;
    margin-left: 27%
}

p.fresh {
    max-width: 100%;
    position: absolute;
    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    font-size: 4.5vw;
    line-height: 135%;
    color: #4C251B;
    margin-top: 16%;
    margin-left: 6%
}

img.ban1 {
    position:absolute;
    width:50%;
    height:80%;
    margin-top:5%;
    margin-left:47%;
}

.container-fluid {
    position:relative;
}

p.fban1 {
    position: absolute;
    max-width: 100%;
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw;
    line-height: 135%;
    color: #4C251B;
    margin-top:24.5%;
    margin-left:6%;
}


@media screen and (max-width:1300px) {
    p.fban1 {
        font-size: 1.5vw;
    }

    a.ban {
        font-size:1.3vw;
    }
}

@media screen and (max-width:768px) {
    p.fban1 {
        font-size: 2vw;
    }

    a.ban {
        font-size: 2.5vw;
        border:2px;
        margin-top:35%;
    }
    img.ban1 {
        width: 35%;
        height: 65%;
        margin-left:60%;
    }
}

a.ban {
    max-width:100%;
    height:auto;
    display:inline-block;
    position: absolute;
    font-family: Kanit;
    font-style: normal;
    font-size:1.2vw;
    text-align:center;
    border: 3px solid #4C251B;
    border-radius:14px;
    color: #4C251B;
    margin-top: 30%;
    margin-left: 8%;
    outline:none;
    text-decoration:none;
    padding-left:6px;
    padding-right:7px;
    padding-top:0.5px;
    padding-bottom:1px;
    cursor:pointer;
}

a.ban:hover {
    background-color:#4C251B;
    color :#EFD89A;
}

.scroll {
    position:absolute;
    margin-top:42.5%;
    margin-left:55%;
    max-width:100%;
    width:2.7%;
    height:5.5%;
    transform:translate(-80px) translateX(-50%) rotate(45deg);
}
.scroll span{
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:100%;
    border-bottom:2px solid #fff;
    border-right:2px solid #fff;
    animation:animate 1.5s linear infinite;
    opacity:0;
}
.scroll span:nth-child(1) {
    transform:translate(-15px,-15px);
    animation-delay:-0.4s;
}
.scroll span:nth-child(2) {
    transform:translate(0px,0px);
    animation-delay:-0.2s;
}
.scroll span:nth-child(3) {
    transform:translate(15px,15px);
    animation-delay:0s;
}
@keyframes animate {
    0% {
        top:-5px;
        left:-5px;
        opacity:0;
    }
    25% {
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%,100% {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}

@media only screen and (min-width:1560px) and (max-width:1500px) {
    @keyframes animate {
        0% {
            top: -5px;
            left: -5px;
            opacity: 0;
        }

        25% {
            top: 0px;
            left: 0px;
            opacity: 0;
        }

        50%,100% {
            top: 5px;
            left: 5px;
            opacity: 0;
        }
    }
}

/*Banner 2*/

p.why {
    position:absolute;
    text-align:center;
    left:37%;
    margin-top:2%;
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    line-height: 135%;
    color: #4C251B;
}

img.cabbage {
    position: absolute;
    max-width: 100%;
    width: 13%;
    margin-left:30%;
}

p.always {
    position:absolute;
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 135%;
    color: #4C251B;
    margin-top:10%;
    margin-left:18%;
}

img.eclipse {
    position:absolute;
    max-width:100%;
    width:75%;
    margin-left:8.5%;
    margin-top:-15%;
}
img.homehydro {
    position: absolute;
    max-width: 100%;
    width: 75%;
    margin-left: 2.5%;
    margin-top: -15%;
}

img.varietyvet {
    position: absolute;
    max-width: 100%;
    width: 13%;
    margin-left: 45%;
}

p.variety {
    position: absolute;
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 135%;
    color: #4C251B;
    margin-top: 16%;
    margin-left: 25%;
}

img.homeleaf {
    position:absolute;
    max-width:100%;
    width:13%;
    margin-left:-22%;
}

p.leaf {
    position: absolute;
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 135%;
    color: #4C251B;
    margin-top: 10%;
    margin-left:-33%;
}

img.homecar {
    position:absolute;
    max-width:100%;
    width:13%;
    margin-left:94%;
}
p.car {
    position: absolute;
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 135%;
    color: #4C251B;
    margin-top: 10%;
    margin-left: 83%;
}

img.homemedal {
    position: absolute;
    max-width: 100%;
    width: 13%;
    margin-left: -22%;
}

p.medal {
    position: absolute;
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 135%;
    color: #4C251B;
    margin-top: 10%;
    margin-left: -38%;
}

img.homesup {
    position: absolute;
    max-width: 100%;
    width: 13%;
    margin-left: 94%;
}

p.support {
    position: absolute;
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 135%;
    color: #4C251B;
    margin-top: 10%;
    margin-left: 78%;
}

/*Banner 3*/

p.useeasy {
    position: absolute;
    text-align: center;
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    line-height: 135%;
    color: #4C251B;
    margin-top:10%;
    margin-left:29%;
}

img.homecir1 {
    position:absolute;
    width:43%;
    margin-left:11%;
}
img.homebuy {
    position: absolute;
    width: 33%;
    margin-left: 11%;
}

p.cir1 {
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.38vw;
    line-height: 135%;
    color: #4C251B;
    margin-top: 60%;
    margin-left:19.5%;
}

img.homecir2 {
    position: absolute;
    width: 43%;
    margin-left: 20%;
}
img.homepay {
    position: absolute;
    width: 33%;
    margin-left: 20%;
}

p.cir2 {
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.38vw;
    line-height: 135%;
    color: #4C251B;
    margin-top: 60%;
    margin-left: 33.5%;
}

img.homecir3 {
    position: absolute;
    width: 43%;
    margin-left: 27%;
}
img.homedeli {
    position: absolute;
    width: 33%;
    margin-left: 27%;
}

p.cir3 {
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.38vw;
    line-height: 135%;
    color: #4C251B;
    margin-top: 60%;
    margin-left: 32%;
}
