@media screen and (max-width:1200px) {
    .button-box {
        width: 100%;
    }

}


@media screen and (min-width:991px) {
    .form-box {
        width:45%
    }
}
@media screen and (max-width:990px) {
    .form-box {
        width:100%;

    }
}

.hero {
    background-image:linear-gradient(rgba(0,0,0.4),rgba(0,0,0.4)),url(../lib/images/test.jpg);
    height:100%;
    width:100%;
    background-position:center;
    background-size:cover;
    position:absolute;
}
.form-box {
    height:500px;
    position:relative;
    margin:6% auto;
    background:#fff;
    padding:px;
}

.col-2 {
    max-width:50%;
}

.button-box {
    width: 221px;
    margin-right:50px;
    position: relative;
    box-shadow: 0 0 20px 1px #ff6a00;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}