.hero {
    background-image:linear-gradient(rgba(0,0,0.4),rgba(0,0,0.4)),url(../lib/images/test.jpg);
    height:100%;
    width:100%;
    background-position:center;
    background-size:cover;
    position:absolute;
}
.form-box {
    width:400px;
    height:500px;
    position:relative;
    margin:6% auto;
    background:#fff;
    padding:5px;
}
.button-box {
    width:220px;
    margin:35px auto;
}