/*Nav bar*/

.img-logo {
    width: 30%;
    height: auto;
    
}
.nav-left:hover{
    background-color: #435E39;
    color:#ffffff !important;
    font-weight:normal;
}

.nav-left {
    border: .5px solid #EFD89A;
    font-size: 1vw;
    font-family: Kanit;
    color: #435E39 !important;
    font-style: normal;
    font-weight: bold;
    /*padding-left: 60px !important;*/
    padding-top: 15px !important;
    width: 200%;
    margin-left: -320%;
}

.nav-right {
    float: right;
    font-size: 1vw;
    color: #435E39 !important;
    font-style: normal;
    font-weight: bold;

}
