.carousel {
    margin-top:6%;
}

.w-100 {
    height: 350px;
    object-fit: cover;
    border-radius: 22px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin-left:30%;
  margin-right:-20%;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 80px 12px;
  margin-left:3%;
}

.col-3-shop {
    padding-left:0px;
}

.card {
    width: 90%;
    border-radius: 15px;
    padding: 10px;
    background-color: #EFD89A;
}
img.card-inner {
    height:150px;
    border-radius:10px;
    width:100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom:5px;
}

p.productname {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 33px;
    text-align: center;
    color: #4C251B;
}
p.productprice1 {
    display:inline;
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8vw;
    line-height: 30px;
    float:left;
}

p.productprice2 {
    display: inline;
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8vw;
    line-height: 30px;
    float: right;
}

@media screen and (max-width:991px) {
    .grid-container {
        grid-template-columns :repeat(3, auto);
    }
}

@media screen and (max-width:400px) {
    .grid-container {
        grid-template-columns: repeat(2, auto);
    }
}

