@media screen and (max-width:1200px) {
    .button-box {
        width:100%;
    }
    .col-2 {
        max-width:100%;
    }
}


.button-box {
    width:205%;
    margin:0px 50px 0px 0px;
    position:relative;
    box-shadow:0 0 20px 1px #ff6a00;
    border-radius:30px;
}

.toggle-btn {
    padding:10px 30px;
    cursor :pointer;
    background:transparent;
    border:0;
    outline:none;
    position:relative;
}

.col-2 {
    margin-right:190px;
}

#btn {
    top:0;
    left :0;
    position:absolute;
    width:30%;
    height:100%;
    background:linear-gradient(to right , #00ffff,#0026ff);
    border-radius:30px;
    transition:.5s;
}

#Vegetables {
    left:500px;
}