<link rel="stylesheet" href="~/css/Contact.css" />
@{
    ViewData["Title"] = "Contacts";
}

<body style="background-image:url(../lib/images/bgcontact1.png);
      background-repeat: repeat-x;
      background-attachment: fixed;
      background-position: center;
      width:100%;
      height:100%;"></body>
      @*<div class="bodycontact">*@
<div class="container">
    <div class="card">

    </div>
</div>

