<link rel="stylesheet" href="~/css/Contact.css" />
@{
    ViewData["Title"] = "Contacts";
}

<div class="container">
    <img class="bg1" src="~/lib/images/bgcontact1.png" />
    <img class="bg2" src="~/lib/images/bgcontact2.png" />
    <div class="row justify-content-center">
            <img class="contactmain" src="~/lib/images/contactmain.png"/>

    </div>
        <div style="margin-top:60%;" class="row justify-content-center">
            <div class="col-12">
                <img class="footercontact" src="~/lib/images/footercontact.png" />
            </div>
        </div>
</div>
