@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row justify-content-center">
    <div class="col-3">
        <div class="card1">
            <div class="container">
                <center>
                    <a asp-action="Data" class="profilelink">ข้อมูลยอดขาย</a><br /><br /><br />
                    <a asp-action="Editproduct" class="profilelink">เพิ่มสินค้า</a><br /><br /><br />
                    <a asp-action="Delete" class="profilelink">ลบสินค้า</a><br /><br /><br />
                </center>
            </div>
        </div>
    </div>

    <div class="col-9">
        <div class="card2">
            <div class="container">
                <p class="hello">
                    Admin Manager
                </p>
                <br />
                <p class="profilepersonal">
                    ข้อมูลยอดขาย
                </p><br /><br />
            </div>
        </div>
    </div>
</div>