@model SemicolonShop.Models.Data

@{
    ViewData["Title"] = "Delete";
}

<div class="row justify-content-center">
    <div class="col-3">
        <div class="card1">
            <div class="container">
                <center>
                    <a asp-action="Data" class="profilelink">ข้อมูลยอดขาย</a><br /><br /><br />
                    <a asp-action="Editproduct" class="profilelink">เพิ่มสินค้า</a><br /><br /><br />
                    <a asp-action="Delete" class="profilelink">คลังสินค้า</a><br /><br /><br />
                    <a asp-action="" class="profilelink">ออกจากระบบ</a><br /><br /><br />
                </center>
            </div>
        </div>
    </div>

    <div class="col-9">
        <div class="card2">
            <div class="container">
                <p class="hello">
                    Admin Manager
                </p>
                <br />
                <p class="profilepersonal">
                    คลังสินค้า
                </p><br /><br />
                <div style="overflow-x:auto;">
                    <table class="deletetable ordertable">
                        <tr class="topic">
                            <th class="intable1 orderth font2">หมายเลขสินค้า</th>
                            <th class="intable1 orderth font2">ชื่อสินค้า</th>
                            <th class="intable1 orderth font2">ราคาสินค้า</th>
                            <th class="intable1 orderth font2">จำนวนสินค้า</th>
                            <th class="intable1 orderth font2"></th>
                            <th class="intable1 orderth font2"></th>
                        </tr>
                        <tr class="topic">
                            <td class="intable1 orderth font2">Jill</td>
                            <td class="intable1 orderth font2">Smith</td>
                            <td class="intable1 orderth font2">50</td>
                            <td class="intable1 orderth font2">50</td>
                            <td class="intable1 orderth font2"><a class="edit" font" asp-action="Edit"asp-controller="Admin">Edit</a></td>
                            <td class="intable1 orderth font2"><a class="cancel font" href="#delete">Delete</a></td>
                        </tr>
                        <tr class="topic">
                            <td class="intable1 orderth font2">Eve</td>
                            <td class="intable1 orderth font2">Jackson</td>
                            <td class="intable1 orderth font2">94</td>
                            <td class="intable1 orderth font2">50</td>
                            <td class="intable1 orderth font2"><a class="edit" font" asp-action="Edit">Edit</a></td>
                            <td class="intable1 orderth font2"><a class="cancel font" href="#delete">Delete</a></td>
                        </tr>
                        <tr class="topic">
                            <td class="intable1 orderth font2">Adam</td>
                            <td class="intable1 orderth font2">Johnson</td>
                            <td class="intable1 orderth font2">67</td>
                            <td class="intable1 orderth font2">50</td>
                            <td class="intable1 orderth font2"><a class="edit" font" asp-action="Edit">Edit</a></td>
                            <td class="intable1 orderth font2"><a class="cancel font" href="#delete">Delete</a></td>
                        </tr>
                      
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
