@model SemicolonShop.Models.Data

@{
    ViewData["Title"] = "Editproduct";
}

<h3>Admin Manager</h3>

<div class="tab">

    <a asp-action="Index" class="tablinks taplinks">ข้อมูลการขาย</a>
    <hr />
    <a asp-action="Editproduct" class="tablinks taplinks">เพิ่ม-ลดสินค้า</a>
    <hr />
    <a asp-action="Delete" class="tablinks taplinks">ลบสินค้า</a>
    <hr />
</div>

<div id="Delete" class="tabcontent">
    <h4 class="">เพิ่ม-ลดสินค้า</h4>
    <p>สินค้าหมด</p>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editproduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
