@model SemicolonShop.Models.Data

@{
    ViewData["Title"] = "Editproduct";
}



<div class="row justify-content-center">
    <div class="col-3">
        <div class="card1">
            <div class="container">
                <center>
                    <a asp-action="Data" class="profilelink">ข้อมูลยอดขาย</a><br /><br /><br />
                    <a asp-action="Editproduct" class="profilelink">เพิ่มสินค้า</a><br /><br /><br />
                    <a asp-action="Delete" class="profilelink">ลบสินค้า</a><br /><br /><br />
                    <a asp-action="" class="profilelink">Log out</a><br /><br /><br />
                </center>
            </div>
        </div>
    </div>

    <div class="col-9">
        <div class="card2">
            <div class="container">
                <p class="hello">
                    Admin Manager
                </p>
                <br />
                <p class="profilepersonal">
                    เพิ่มสินค้า
                </p><br /><br />
                          <form>
                              <p class="profilepersonaldetail">
                                  เลือกชนิดของสินค้า
                              </p>&nbsp;&nbsp;&nbsp;
                              <input type="radio" id="veg" name="radio" value="ผัก">&nbsp;&nbsp;
                              <label class="font2">ผัก</label>&nbsp;&nbsp;&nbsp;
                              <input type="radio" id="meat" name="radio" value="เนื้อ">&nbsp;&nbsp;
                              <label class="font2">เนื้อ</label>
                              <br /><br />
                              <p class="profilepersonaldetail">
                                  รหัสสินค้า
                              </p>
                              <input type="number" class="inputchangepersonal form-control" /><br /><br /><br />
                              <p class="profilepersonaldetail">
                                  ชื่อสินค้า
                              </p>
                              <input type="text" class="inputchangepersonal form-control" /><br /><br /><br />
                              <p class="profilepersonaldetail">
                                  ราคา
                              </p>
                              <input type="number" class="inputchangepersonal form-control" /><br /><br /><br />
                              <p class="profilepersonaldetail">
                                  จำนวน
                              </p>
                              <input type="number" class="inputchangepersonal form-control" /><br /><br /><br />
                              <p class="profilepersonaldetail">
                                  รูปสินค้า
                              </p>
                              <input type="file" class="inputchangepersonal file" id="myFile" name="filename">
                              <input type="submit" class="submitchangepersonal" value="ยืนยันการแก้ไข" /><br /><br />
                          </form>
            </div>
        </div>
    </div>
</div>