<link rel="stylesheet" href="~/css/credit.css" />

<h4 class="font">ชำระเงินด้วยบัตรเครดิต/บัตรเดบิต</h4>
<hr />

<div class="card1">
    <img class="img1" src="~/Img/credit_Front.png" />
    <img class="img2" src="~/Img/credit_Back (1).png" />
    <div class="card2">
        <label class="font2">ธนาคาร</label>
        <select id="bank" name="bank">
            <option value="BBL">ธนาคารกรุงเทพ (BBL)</option>
            <option value="KBANK">ธนาคารกสิกรไทย (KBANK)</option>
            <option value="KTB">ธนาคารกรุงไทย (KTB)</option>
            <option value="TMB">ธนาคารทหารไทย(TMB)</option>
            <option value="SCB">ธนาคารไทยพาณิชย์ (SCB)</option>
            <option value="BAY">ธนาคารกรุงศรีอยุธยา (BAY)</option>
            <option value="CIMBT">ธนาคารซีไอเอ็มบีไทย (CIMBT)</option>
            <option value="TISCO">ธนาคารทิสโก้ (TISCO)</option>
            <option value="TBANK">ธนาคารธนชาต (TBANK)</option>
            <option value="UOBT">ธนาคารยูโอบี (UOBT)</option>
            <option value="TCD">ธนาคารไทยเครดิตเพื่อรายย่อย (TCD)</option>
            <option value="LHFG">ธนาคารแลนด์แอนด์ เฮ้าส์ (LHFG)</option>
            <option value="ICBCT">ธนาคารสินเอเซีย (ICBCT)</option>
            <option value="SME">ธนาคารพัฒนาวิสาหกิจขนาดกลางและขนาดย่อมแห่งประเทศไทย (SME)</option>
            <option value="BAAC">ธนาคารเพื่อการเกษตรและสหกรณ์การเกษตร (ธกส.)</option>
            <option value="EXIM">ธนาคารเพื่อการส่งออกและนำเข้าแห่งประเทศไทย (EXIM)</option>
            <option value="GSB">ธนาคารออมสิน (GSB)</option>
            <option value="GHB">ธนาคารอาคารสงเคราะห์ (GHB)</option>
            <option value="ISBT">ธนาคารอิสลามแห่งประเทศไทย (ISBT)</option>
            <option value="CITI">ธนาคารซิตี้แบงค์ (CITI)</option>
        </select>
        <br />
        <label class="font2">เลขหน้าบัตร 16 หลัก</label>
        <input type="text" id="num" name="16num" placeholder="xxxx-xxxx-xxxx-xxxx">
        <br />
        <label class="font2">รหัสหลังบัตร (CVV)</label>
        <input type="text" id="num" name="16num" placeholder="xxxx-xxxx-xxxx-xxxx">
        <br />
    </div>
</div>
<div class="card3">
    <button class="con font">ยืนยัน</button>
    <a class="cancel font" href="#cancel">ยกเลิก</a>
</div>