<link rel="stylesheet" href="~/css/bill.css" />

<h4 class="font text-center">Recipt</h4>
<hr />

<div class="card1">
    <div class="row justify-content-center">
        <div class="col-6">
            <img class="logo" src="~/Img/semilogo.png" />
        </div>
        <div class="col-6">
            <label class="font2">#001</label>
        </div>

    </div>
    <hr class="line" /><br />
    <h5 class="font3 text-center">รายละเอียดคำสั่งซื้อ</h5><br />
    <div class="card2">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card3">
                    <p class="font3">ข้อมูลลูกค้า</p>
                    <p class="font3">ชื่อ</p>
                    <p class="font3">ที่อยู่</p>
                    <p class="font3">เบอร์โทร</p>
                </div>
            </div>
            <div class="col-4">
                <div class="card4">
                    <p class="font3">เลขที่ใบสั่งซื้อ</p>
                    <p class="font3">วันที่สั่งซื้อ</p>
                    <p class="font3">หมายเหตุ</p>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card2">
        <table class="table1">
            <tr class="topic">
                <th class="font3 top">ลำดับ</th>
                <th class="font3 top" style="width:50%">รายการ</th>
                <th class="font3 top">จำนวน</th>
                <th class="font3 top">ราคา</th>
                <th class="font3 top">รวม</th>
            </tr>
            <tr class="topic">
                <td class="intable1">1</td>
                <td class="intable1">1</td>
                <td class="intable1">1</td>
                <td class="intable1">1</td>
                <td class="intable1">1</td>
            </tr>
            <tr class="topic">
                <td class="intable1">1</td>
                <td class="intable1">1</td>
                <td class="intable1">1</td>
                <td class="intable1">1</td>
                <td class="intable1">1</td>
            </tr>
        </table>
    </div>
</div>
    
