
@{
    ViewData["Title"] = "Profile";
}

<h4>Profile</h4>
<div class="tab">

    <a asp-action="Profile" class="tablinks taplinks">โปรไฟล์</a>
    <hr />
    <a asp-action="Editprofile" class="tablinks taplinks">แก้ไขโปรไฟล์</a>
    <hr />
    <a asp-action="History" class="tablinks taplinks">ประวัติการสั่งซื้อ</a>
    <
    <hr />
</div>
<div class="tabcontent">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-group">
                    <div class="card" style="max-width:10rem; max-height:10rem;">
                        <div class="card-body">
                            <img class="card-img" src="~/Img/117352759_1230969443903988_9005002591302384882_o.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <p>ชื่อ</p>
</div>