
@{
    ViewData["Title"] = "Profile";
}

<h4>Profile</h4>
<div class="tab">
    <div class="card-body">
        <img class="card-img" src="~/Img/117352759_1230969443903988_9005002591302384882_o.jpg" />
    </div>
    <a asp-action="Profile" class="tablinks taplinks">โปรไฟล์</a>
    <hr />
    <a asp-action="Editprofile" class="tablinks taplinks">แก้ไขโปรไฟล์</a>
    <hr />
    <a asp-action="History" class="tablinks taplinks">ประวัติการสั่งซื้อ</a>
    <
    <hr />
</div>
<div class="tabcontent">
    
    <p>ชื่อ</p>
</div>